In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
# Locate the CSV file to be read.
spotify_data_path = "Resources/data.csv"

# Read the Spotify songs data.
spotify_data = pd.read_csv(spotify_data_path)

# Tempo

In [3]:
# Create a DataFrame with only the "popularity" and "tempo" columns.
tempo_df = spotify_data[["popularity", "tempo"]]
tempo_df.head()

   popularity    tempo
0           4   80.954
1           5   60.936
2           5  110.339
3           3  100.109
4           2  101.665

In [4]:
# Establish the bins.
popularity_bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ["Least Popular (1)", "2", "3", "4", "5", "6", "7", "8", "9", "Most Popular (10)"]

In [5]:
# Use "pd.cut" to categorize popularity based on the bins.
tempo_df["Popularity Bin"] = pd.cut(tempo_df["popularity"], popularity_bins, labels=labels, include_lowest=True)
tempo_df.head()

C:\Users\radov\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   popularity    tempo     Popularity Bin
0           4   80.954  Least Popular (1)
1           5   60.936  Least Popular (1)
2           5  110.339  Least Popular (1)
3           3  100.109  Least Popular (1)
4           2  101.665  Least Popular (1)

In [6]:
# Group by "Popularity Bin" and find the mean tempo for each one.
tempo_means = pd.DataFrame(tempo_df.groupby(["Popularity Bin"]).mean()["tempo"])
tempo_means

                        tempo
Popularity Bin
Least Popular (1)  109.809226
2                  113.385109
3                  118.369305
4                  119.354498
5                  120.338871
6                  120.172103
7                  121.074647
8                  120.720360
9                  121.948016
Most Popular (10)  121.187795

# Speechiness

In [7]:
# Create a DataFrame with only the "popularity" and "speechiness" columns.
speechiness_df = spotify_data[["popularity", "speechiness"]]
speechiness_df.head()

   popularity  speechiness
0           4       0.0366
1           5       0.4150
2           5       0.0339
3           3       0.0354
4           2       0.0380

In [8]:
# Use "pd.cut" to categorize popularity based on the bins.
speechiness_df["Popularity Bin"] = pd.cut(speechiness_df["popularity"], popularity_bins, labels=labels, include_lowest=True)
speechiness_df.head()

C:\Users\radov\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   popularity  speechiness     Popularity Bin
0           4       0.0366  Least Popular (1)
1           5       0.4150  Least Popular (1)
2           5       0.0339  Least Popular (1)
3           3       0.0354  Least Popular (1)
4           2       0.0380  Least Popular (1)

In [9]:
# Group by "Popularity Bin" and find the mean speechiness for each one.
speechiness_means = pd.DataFrame(speechiness_df.groupby(["Popularity Bin"]).mean()["speechiness"])
speechiness_means

                   speechiness
Popularity Bin
Least Popular (1)     0.167179
2                     0.080372
3                     0.063355
4                     0.069378
5                     0.077383
6                     0.080210
7                     0.093281
8                     0.101280
9                     0.102342
Most Popular (10)     0.121782

# Loudness

In [12]:
# Create a DataFrame with only the "popularity" and "loudness" columns.
loudness_df = spotify_data[["popularity", "loudness"]]
loudness_df.head()

   popularity  loudness
0           4   -20.096
1           5   -12.441
2           5   -14.850
3           3    -9.316
4           2   -10.096

In [13]:
# Use "pd.cut" to categorize popularity based on the bins.
loudness_df["Popularity Bin"] = pd.cut(loudness_df["popularity"], popularity_bins, labels=labels, include_lowest=True)
loudness_df.head()

C:\Users\radov\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   popularity  loudness     Popularity Bin
0           4   -20.096  Least Popular (1)
1           5   -12.441  Least Popular (1)
2           5   -14.850  Least Popular (1)
3           3    -9.316  Least Popular (1)
4           2   -10.096  Least Popular (1)

In [14]:
# Group by "Popularity Bin" and find the mean speechiness for each one.
loudness_means = pd.DataFrame(loudness_df.groupby(["Popularity Bin"]).mean()["loudness"])
loudness_means

                    loudness
Popularity Bin
Least Popular (1) -15.017333
2                 -13.693482
3                 -12.162322
4                 -11.060683
5                  -9.439159
6                  -8.482017
7                  -7.871956
8                  -6.844695
9                  -6.593710
Most Popular (10)  -5.846000