In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
# Locate the CSV file to be read.
spotify_data_path = "Resources/data.csv"

# Read the Spotify songs data.
spotify_data = pd.read_csv(spotify_data_path)

In [3]:
# Create a DataFrame with only the "popularity" and "tempo" columns.
tempo_df = spotify_data[["popularity", "tempo"]]
tempo_df.head()

   popularity    tempo
0           4   80.954
1           5   60.936
2           5  110.339
3           3  100.109
4           2  101.665

In [4]:
# Establish the bins.
popularity_bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ["Least Popular (1)", "2", "3", "4", "5", "6", "7", "8", "9", "Most Popular (10)"]

In [5]:
# Use "pd.cut" to categorize popularity based on the bins.
tempo_df["Popularity Bin"] = pd.cut(tempo_df["popularity"], popularity_bins, labels=labels, include_lowest=True)
tempo_df.head()

C:\Users\radov\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   popularity    tempo     Popularity Bin
0           4   80.954  Least Popular (1)
1           5   60.936  Least Popular (1)
2           5  110.339  Least Popular (1)
3           3  100.109  Least Popular (1)
4           2  101.665  Least Popular (1)

In [6]:
# Group by "Popularity Bin" and find the mean tempo for each one.
tempo_means = pd.DataFrame(tempo_df.groupby(["Popularity Bin"]).mean()["tempo"])
tempo_means

                        tempo
Popularity Bin
Least Popular (1)  109.809226
2                  113.385109
3                  118.369305
4                  119.354498
5                  120.338871
6                  120.172103
7                  121.074647
8                  120.720360
9                  121.948016
Most Popular (10)  121.187795